<header class="custom-header">
    <button class="icon-btn">
      <i class="bi bi-house-fill"></i>
    </button>
    <input type="text" class="search-input" placeholder="O que você quer ouvir?">
    <div class="d-flex align-items-center">
      <button class="icon-btn">
        <i class="bi bi-bell"></i>
      </button>
      <button class="icon-btn">
        <i class="bi bi-people"></i>
      </button>
      <span class="greeting-text"><b>Olá, Luiza!</b></span> <!-- Novo elemento movido -->
      <div class="profile-icon">
        <img src="#" alt="Profile">
      </div>
    </div>
</header>
