<!-- Navbar -->
<div class="d-flex">
    <div id="sidebar" class="text-white">
        <!--<img src="assets/images/logo/logo2.png" alt="Imagem do Navbar">-->
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-home"></i> <span class="link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-info-circle"></i> <span class="link-text">About</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-envelope"></i> <span class="link-text">Contact</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-cog"></i> <span class="link-text">Settings</span>
                </a>
            </li>
        </ul>
    </div>
    
    
    
</div>

